.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 370px);
    justify-content: center;
    gap: 32px;
    padding: 0 32px;
    margin: 15px auto 0 !important;
    max-width: 1640px;
    list-style: none;
    box-sizing: border-box;
    padding-bottom: 32px;
}

.project {
    background-color: #373737;
    border-radius: 15px;
    border: 1px solid #d6cdb8;
    min-height: 450px;
    max-height: border-box;
    color: #f0e8d4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 25px 25px 25px;
    box-shadow: 0px 0px 12px 10px #0000001a;
    box-sizing: border-box;
}

.project-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project-description {
    gap: 0px;
}

.project-description > p:first-child {
    margin-top: 4px;
}

.technologies {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.technologies p {
    margin: 10px 0px 4px 0px;
}

.technologies ul{
    list-style-type: disc;
    padding-left: 40px;
    margin: 0px;
}

.iframe {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    z-index: 0;
}

.iframe iframe {
    display: block;
    width: 100%;
    border: none;
    border-radius: 10px;
    z-index: 0;
}

.acessar {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
}

.acessar::before {
    content: '';
    position: absolute;
    inset: 0;

    background: linear-gradient(to top, #2c2c2c 0%, #40404080 30%, transparent 60%);

    opacity: 0;
    transform: translateY(30px);
    transition: all 0.3s ease;

    border-radius: inherit;
}

.acessar span {
    position: relative;
    z-index: 1;

    margin-bottom: 25px;

    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease;
}

.iframe:hover .acessar::before {
    opacity: 1;
    transform: translateY(0);
}

.iframe:hover .acessar span {
    transform: translateY(0);
    opacity: 1;
}

.iframe a {
    font-weight: 900;
    color: #dfddcb;
    text-decoration: none;
}

h1 {
    color: #dfddcb;
}

p {
    font-size: 19px;
    color: #dfddcb;
}

a {
    color: #dfddcb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline 1px solid #dfddcb;;
    text-underline-offset: 2px;
    color: #dfddcb;
}

#a-Details {
    text-decoration: underline 1px solid #dfddcb;;
    text-underline-offset: 2px;
    margin-top: 5px
}