<ul class="projects-list">
    <li class="project" *ngFor="let project of projects">
        <section>
            <header class="project-title">
                <h1>{{ project.title }}</h1>
                <a id="a-Details" [routerLink]="['/projects', project.id]">Detalhes</a>
            </header>

            <article class="project-description">
                <p>Descrição: {{ project.description }}</p>

                <div class="technologies">
                    <p>Tecnologias:</p>
                    <ul>
                        <li *ngFor="let technology of project.technologies">
                            <span>{{ technology.name }}</span>
                        </li>
                    </ul>
                </div>
            </article>
        </section>

        <footer class="project-link">
            <iframe [src]="sanitizar(project.link)" scrolling="no"></iframe>
            <p>Link: <a href="{{ project.link }}" target="_blank"> {{ project.link }}</a></p>
        </footer>
    </li>
</ul>