.navbar{
    background-color: #313a3a;
    height: 50px;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    border-radius: 4px;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{
    list-style: none;
    color: #f3f2dc;
    font-size: 20px;
    font-weight: 600;
}

a {
    position: relative;
    text-decoration: none;
}

a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;

    width: 0;
    height: 2px;

    background: #f3f2dc;

    transition: 0.2s ease;
    transform: translateX(-50%);
}

a:hover::after {
    width: 100%;
}