.navbar{
    background-color: #2a2a2a;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.navbar.hidden {
    transform: translateY(-100%);
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5%;
    padding: 0px !important;
}

li{
    list-style: none;
    color: #f0e8d4;
    font-size: 20px;
    font-weight: 600;
}

a {
    position: relative;
    text-decoration: none;
    color: #f0e8d4;
}

a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;

    width: 0;
    height: 2px;

    background: #f0e8d4;

    transition: 0.2s ease;
    transform: translateX(-50%);
}

a:hover {
    color: #f0e8d4;
}

a:hover::after {
    width: 100%;
}