.projects {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

app-project {
    display: block;
    width: 100%;
    min-width: 0;
}

input {
    background: rgba(42, 42, 42, 0.5);
    width: 90%;
    border-radius: 5px;
    height: 35px;
    font-size: 18px;
    color: #f0e8d4;
    outline: none;
    border-top: none;
    border-right: 1px solid #f0e8d4;
    border-bottom: 1px solid #f0e8d4;
    border-left: none;
    box-shadow: 2px 2px 12px 10px #0000001a;
    padding: 0px 10px 0px 10px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.sticky-group {
    position: sticky;
    top: 60px;
    transition: top 0.3s ease;
    z-index: 1000;
}

.sticky-group.nav-hidden {
    top: 10px;
}

.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(99, 92, 75, 0.3);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background: red; /* exemplo */
    cursor: pointer;
}

.categories {
    margin: 13px 0 0 8px !important;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.category-button {
    background: rgba(72, 67, 57, 0.85);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 6px 14px;
    cursor: pointer;
    color: #f0e8d4;
    font-size: 1.1rem;
    transition: background 0.3s ease;
}

.category-button:hover {
    border: 1px solid rgba(240, 232, 212, 0.5);
}

.category-button.selected {
    background: rgba(255, 255, 255, 0.8);
    color: #000000;
}

#clear-filter {
    margin-left: -10px;
}