<section class="projects">
    <div class="sticky-group" [class.nav-hidden]="isNavbarHidden">
        <div class="filter-layout">
            <div role="search" class="input">
                <input
                    type="text"
                    autocomplete="off"
                    placeholder="Procurar projeto"
                    aria-label="Procurar projeto"
                    [(ngModel)]="filter"
                    name="filter"
                    (ngModelChange)="filterProjects($event)"
                />
            </div>

            <ul class="categories" [class.visible]="filters">
                <li *ngFor="let categoryButton of categories">
                    <button
                        (click)="filterByCategory(categoryButton)"
                        class="category-button"
                        [class.selected]="categoryButton.selected"
                        *ngIf="categoryButton.name != undefined"
                    >
                        {{ categoryButton.name }}
                    </button>
                </li>
            </ul>
        </div>

        <div class="filter-actions">
            <button class="category-button filter-button" (click)="showCategories()">
                Filtrar <i class="fa-solid fa-filter"></i>
            </button>
            <button (click)="clearFilter()" class="category-button" @fadeSlide *ngIf="filters" id="clear-filter">
                Limpar <i class="fa-solid fa-eraser"></i>
            </button>
        </div>
    </div>

    <app-project [projects]="filteredProjects"></app-project>
</section>
