.details {
    color: #dfddcb;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0 16px;
}

.details article {
    max-width: 100%;
    box-sizing: border-box;
}

.details h1 {
    margin: 0px !important;
}
