<ul class="technologies">
    <li *ngFor="let technology of technologies">
        <section class="technology">
            <article class="technology-info">
                <app-icon [iconURL]="technology?.iconURL"></app-icon>

                <h1>{{ technology?.name }}</h1>
                <p>{{ technology?.version }}</p>
            </article>

            <article class="technology-doc">
                <p>Doc: <a href="{{ technology?.doc }}" target="_blank">{{ technology?.doc }}</a></p>
            </article>
        </section>
    </li>
</ul>
