.technologies {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    max-width: 100%;
}

.technology {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 325px;
    height: border-box;
    background-color: #3d3d3d;
    border: 1px solid #d6cdb8;
    border-radius: 10px;
    padding: 0px 20px 15px 20px;
}

.technology-info h1 {
    font-size: 34px;
    color: #dfddcb;
    margin: 10px 0px 0px 0px;
}

.technology-info p {
    margin: 0px 0px 0px 0px;
    font-size: 24px;
    color: #dfddcb;
}

.technology-doc {
    margin: 40px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.technology-doc p {
    font-size: 16px;
    color: #dfddcb;
    appearance: none;
    margin: 0; 
}

.technology-doc a:hover {
    text-decoration: underline 1px solid #dfddcb;;
    text-underline-offset: 2px;
    color: #dfddcb;
}

a {
    color: #dfddcb;
    text-decoration: none;
}
